body{
	background-image: url(../pic/pic2.jpg);
	background-size: 1550px 1000px;
	background-repeat: no-repeat;
	margin:0;padding:0;
}
audio{
	position: relative;
	top: -60px;
}
p.welcome_title{
	padding-top: 50px;
	text-align: center;
	font-size: 300%;
	font-family: Tahoma;
	letter-spacing: 2px;
	color: #66cc66;
}
div.pagebox_area{
	margin: 0px 250px;
	padding: 40px 20px;
}
div.pagebox_center_control{
	padding: 20px 50px;
}
div.page_choose{
	display: inline-block;
}
div.page_choose{
	width: 32%;
	height: 150px;
}
div.page_photo{
	width: 150px;
	height: 150px;
	text-align: center;
	margin: 0 auto;
	display: block;
}
div.page_photo img{
	width: 100%;
	height: 100%;
}
a{
	font-size: 100%;
	font-family: Tahoma;
	letter-spacing: 2px;
	color: #669966;
	font-size: 120%;
	text-decoration-line: none;
}
a:hover{
	color: 	#DAA520;
	font-weight: 600;
	text-decoration: underline;
}
img{
	width: 150px;
	height: 100px;
}
